.container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 300px;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.success {
  color: green;
}

.error {
  color: red;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}
